

     <form class="someform" action="/search" method="GET">
          <div class="field">
              <input type="text" id="food" name="food" required>
              <label for="food">Hungry?</label>
          </div>
     </form>
